/* styles.css */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #4d321f;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    height: 8vh; /* Adjust the size as needed */
    background-color: white;
    justify-content: left;
    border-radius: 10px; /* Adjust the radius as needed */
    overflow: hidden; /* Ensures the rounded corners are visible */
    display: block; /* Ensures the border-radius is applied to the image */
}

.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}

.main-nav ul {
    width: 110%;
    list-style: none;
    align-items: center;
    padding: 5%;
    margin: 0;
    display: flex;
}

.main-nav li {
    margin-left: 1em;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-nav a:hover {
    color: #4d321f; /* Light grey color on hover */
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.search-bar {
    justify-content: right;
    margin: 1rem;
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.search-bar input {
    outline-color: #4d321f;
    padding: 0.5em;
    border: 1px solid #4d321f;
    border-radius: 10px 0 0 10px;
    
}

.search-bar button {
    padding: 0.5em;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    height: 29px;
}

.search-icon {
    max-height: 100%;
    width: auto;
}

.user-settings img {
    
    max-width: 30px; /* Adjust the size as needed */
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
svg:hover {
    background-color: white;
    color: #4d321f;
}
svg {
    width: 30px;
    height: 30px; /* Adjust the size as needed */
    border-radius: 10px;
    cursor: pointer;
}

