/* styles.css */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #4d321f;
    background: linear-gradient(90deg, rgba(236,176,64,1) 0%, rgb(236, 166, 64) 0%, rgb(112, 75, 19) 60%, rgba(77,50,31,1) 100%);
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    height: 8vh; /* Adjust the size as needed */
    background-color: white;
    justify-content: left;
    border-radius: 10px; /* Adjust the radius as needed */
    overflow: hidden; /* Ensures the rounded corners are visible */
    display: block; /* Ensures the border-radius is applied to the image */
}

.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}

.main-nav ul {
    width: 110%;
    list-style: none;
    align-items: center;
    padding: 5%;
    margin: 0;
    display: flex;
}

.main-nav li {
    margin-left: 3em;
}

.main-nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
}
.main-nav a:hover {
    color: #4d321f; /* Light grey color on hover */
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.search-bar {
    justify-content: right;
    margin: 1rem;
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.search-bar input {
    outline-color: #4d321f;
    padding: 0.5em;
    border: 1px solid #4d321f;
    border-radius: 10px 0 0 10px;
    
}

.search-bar button {
    padding: 0.5em;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    height: 29px;
}

.search-icon {
    max-height: 100%;
    width: auto;
}

.user-settings img {
    
    max-width: 30px; /* Adjust the size as needed */
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
svg:hover {
    background-color: white;
    color: #4d321f;
}
svg {
    width: 30px;
    height: 30px; /* Adjust the size as needed */
    border-radius: 10px;
    cursor: pointer;
}

#mymodel {
    width: 150px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    border: 5px solid black;
    justify-content: center;
}
/* Styles pour la liste déroulante */
nav ul .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

nav ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4d321f; 
    background: linear-gradient(180deg,#966721 0%, rgb(112, 75, 19) 60%, rgba(77,50,31,1) 100%);
    border-radius: 10px;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


nav ul .dropdown-content li {
    display: block;
    margin: 0;
}

nav ul .dropdown-content li a {
    text-decoration: none;
    color: #ffffff; /* Texte blanc */
    display: block;
    padding: 5px 0;
}

/* Styles pour les liens de catégorie */
nav ul li a {
    text-decoration: none;
    color: #4d321f; /* Marron foncé */
    margin: 0 10px;
}

  